@use './../abstracts';
@use './../base';

.donation {
  display: flex;
  justify-content: center;

  min-height: 462px;
  padding: 80px 0 100px 0;

  background: var(--color-light-l);

  &__content-wrapper {
    width: 100%;
    max-width: 915px;
    margin: 0 auto;
    display: flex;
    min-height: 282px;
    justify-content: space-between;
    gap: 20px;
  }

  &__img-wrapper {
    width: 60%;
    max-width: 505px;
    background-image: url(./../img/donation-dog.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-left: 1px;
  }

  &__text-wrapper {
    flex-shrink: 0;
    width: 50%;
    max-width: 380px;
    min-width: 350px;
  }

  &__title {
    margin: 1px 0px 0px 1px;
    font-family: 'Georgia', serif;
    font-weight: 400;
    font-size: 35px;
    line-height: 1.28;
    letter-spacing: 2.1px;
    color: var(--color-dark-l);
  }

  &__subtitle {
    font-family: 'Georgia', serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.1;
    letter-spacing: 0.9px;
    color: var(--color-dark-l);
    margin: 21px 0px 0px 1px;
  }

  &__link-btn {
    display: inline-flex;
    width: 350px;
    margin: 20px 0px 0px 1px;
    padding: 10px 15px;
    text-decoration: none;
    background-color: var(--color-primary);
    border-radius: 9px;
    font-family: 'Georgia', serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
    transition: var(--transition);
    -webkit-transition: var(--transition);
  }

  &__link-svg {
    margin-right: 15px;
  }

  &__text {
    font-family: 'Arial', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.01px;
    color: var(--color-dark-m);
    margin: 19px 0px 0px 1px;
  }
}

@media only screen and (max-width: 860px) {
  .donation {
    padding: 80px 0 89px 0;

    &__content-wrapper {
      flex-direction: column-reverse;
      align-items: center;
    }

    &__link-btn {
      margin: 17px 0px 0px 0px;
    }

    &__img-wrapper {
      aspect-ratio: 505 / 282;
      margin-top: 31px;
    }

    &__img-wrapper,
    &__text-wrapper {
      width: 100%;
    }
  }
}