@use './../abstracts';
@use './../base';

.help {
  display: flex;
  justify-content: center;

  min-height: 611px;
  background-color: var(--color-light-xl);

  &__title {
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 35px;
    line-height: 1.28;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--color-dark-l);
    max-width: 320px;
    margin: 80px auto 0px auto;
    padding-left: 2px;
    padding-top: 1px;
  }

  &__items-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 59px;
    margin-bottom: 99px;
    padding: 0;
    list-style: none;
    gap: 55px 119.5px;
  }

  &__item {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 113px;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
  }

  &__item-title {
    font-family: 'Georgia', serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--color-dark-l);
    margin: 0;
    padding: 0;
    transform: translate(1px, 0px);
  }
}

@media only screen and (max-width: 920px) {
  .help {
    &__items-list {
      gap: 55px 60px;
    }

    &__item {
      width: 170px;
      height: 114px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .help {
    &__container {
      padding-left: abstracts.fluid-clamp(15, 30, 380, 767);
      padding-right: abstracts.fluid-clamp(15, 30, 380, 767);
    }

    &__title {
      margin-top: abstracts.fluid-clamp(42, 80, 380, 767);
      font-size: abstracts.fluid-clamp(25, 35, 380, 767);
    }
  }
}

@media only screen and (max-width: 550px) {
  .help {
    &__items-list {
      column-gap: abstracts.fluid-clamp(30, 60, 360, 767);
      row-gap: abstracts.fluid-clamp(30, 55, 360, 767);
      margin-top: abstracts.fluid-clamp(41, 59, 360, 767);
    }

    &__item {
      width: abstracts.fluid-clamp(130, 170, 340, 550);
      height: abstracts.fluid-clamp(87, 114, 360, 550);
    }

    &__item-title {
      font-size: abstracts.fluid-clamp(15, 20, 380, 550);
    }

    &__item-img {
      width: abstracts.fluid-clamp(50, 60, 380, 550);
    }
  }
}

@media only screen and (max-width: 340px) {
  .help {
    &__items-list {
      width: 292px;
      justify-content: flex-start;
    }
  }
}