@use './../abstracts';
@use './../base';

.help {
  display: flex;
  justify-content: center;

  min-height: 611px;
  background-color: var(--color-light-xl);

  &__title {
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 35px;
    line-height: 1.28;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--color-dark-l);
    max-width: 320px;
    margin: 80px auto 0px auto;
    padding-left: 2px;
    padding-top: 1px;
  }

  &__items-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 59px;
    padding: 0;
    list-style: none;
    gap: 55px 119.5px;
  }

  &__item {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 113px;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
  }

  &__item-title {
    font-family: 'Georgia', serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.06em;
    text-align: center;
    color: var(--color-dark-l);
    margin: 0;
    padding: 0;
    transform: translate(1px, 0px);
  }
}