@use './../abstracts';
@use './../base';

.pets {
  display: flex;
  justify-content: center;

  min-height: 877px;
  background: var(--color-light-l);

  &__title {
    font-family: "Georgia";
    font-weight: 400;
    font-size: 35px;
    line-height: 1.29;
    letter-spacing: 2.25px;
    text-align: center;
    color: var(--color-dark-l);
    margin: 80px 0px 0px 0px;
    padding: 0px;
    transform: translate(1px, 0px);
  }

  &__slider-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 435px;
    margin: 0px;
    overflow: hidden;
    transition: var(--transition);
    -webkit-transition: var(--transition);
  }

  &__slider-btn-wrapper {
    display: flex;
    align-items: center;
    width: auto;
    flex-shrink: 0;
    position: relative;
  }

  &__slider-btn-wrapper_left::before,
  &__slider-btn-wrapper_right::before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(246, 246, 246);
    background: linear-gradient(90deg, rgba(246, 246, 246, 1) 0%, rgba(246, 246, 246, 1) 50%, rgba(246, 246, 246, 0) 100%);
    z-index: 1;
  }

  &__slider-wrapper {
    margin: 0px;
    padding: 60px 0px 60px 0px;
    overflow: hidden;
    display: flex;
    width: calc(3 * (270px + 2 * 45px));
    position: relative;
  }

  &__slider-wrapper::before,
  &__slider-wrapper::after {
    content: '';
    display: block;
    width: 20px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background: rgb(246, 246, 246);
    background: linear-gradient(90deg, rgba(246, 246, 246, 1) 0%, rgba(246, 246, 246, 1) 50%, rgba(246, 246, 246, 0) 100%);
  }

  &__slider {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0px;
    margin: 0px;
    height: 435px;
  }

  &__slider-item {
    width: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: var(--slider-margin);
    margin-right: var(--slider-margin);
    flex-shrink: 0;
  }

  &__slider-card {
    width: 270px;
    height: 100%;
    border-radius: 9px;
    overflow: hidden;
    background-color: var(--color-light-s);
    cursor: pointer;
    transition: var(--transition);
    -webkit-transition: var(--transition);
  }

  &__slider-img {
    display: block;
    width: 270px;
    height: 270px;
    object-fit: cover;
    transform: translate(-1px, -2px);
  }

  &__slider-card-title {
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.06em;
    color: var(--color-dark-l);
    padding: 0px;
    margin: 30px 0px 0px 2px;
    text-align: center;
  }

  &__card-btn {
    display: flex;
    margin: 31px auto 0px auto;
  }
}

.pets-page .pets {
  min-height: 1342px;

}

@media (hover: hover) and (pointer: fine) {
  .pets__slider-card:hover {
    position: relative;
    z-index: 2;
    background-color: var(--color-light-xl);
    box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
  }

  .pets__slider-card:hover .oval-button {
    background-color: var(--color-primary-light);
    border: 2px solid var(--color-primary-light);
  }
}