@use './../abstracts';

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

body {
  min-height: 100dvh;
}

.full-width {
  overflow-x: hidden;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 1280px;
  padding-left: abstracts.fluid-clamp(30, 40, 768, 1280);
  padding-right: abstracts.fluid-clamp(30, 40, 768, 1280);
}

@media only screen and (max-width: 767px) {
  .container {
    padding-left: abstracts.fluid-clamp(20, 30, 320, 767);
  padding-right: abstracts.fluid-clamp(20, 30, 320, 767);
  }
}